@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --darkBG:#1d2029;
    --darkCardBG:#252b43;
}

body{
    font-family: 'Inter', sans-serif;
    background-color: var(--darkBG);
}